:root{
    --firstColor: #7D3EF0;
    --secondColor: #82CA76;
    --thirdColor: #343434;
    --fourthColor: #B6C783;
    --fivethColor: #DFD9B4;
    --sixthColor: #BA5C20;
    --sevenethColor: #C325FF;
    --eighthColor: #E2E2E2;
    --ninethColor: #BDBEC2;
    --tenthColor: #17224D;
    --eleventhColor: #C3DFDD;
    --twelvethColor: #5E5D5D;
    --thirteenthColor: #EAE6E4;
    --headersfont: 2.4rem;
    --mainfont: 4rem;
    --linkfont: 1rem;
    --buttonfont: ;
    --infosize: ;
    --normalsize: 1.1rem;
}