:root{
    --firstColor: #7D3EF0;
    --secondColor: #82CA76;
    --thirdColor: #343434;
    --fourthColor: #7a8164c9;
    --fivethColor: #DFD9B4;
    --sixthColor: #BA5C20;
    --sevenethColor: #C325FF;
    --eighthColor: #E2E2E2;
    --ninethColor: #BDBEC2;
    --tenthColor: #17224D;
    --eleventhColor: #C3DFDD;
    --twelvethColor: #5E5D5D;
    --thirteenthColor: #EAE6E4;
    --headersfont: 2.4rem;
    --mainfont: 4rem;
    --linkfont: 1rem;
    --buttonfont: 1rem;
    --infosize: 1.3rem;
    --normalsize: 1.1rem;
    --sparefont: 1rem;
    --menufont: 1.8rem;
    --minifont: 1.2rem;
    --textsize: 1rem;
    --author: 1.4rem;
    --reds: .9rem;
    --awards: 1rem;
    --trophy: .9rem;
    --comment: 2rem;
    --mediafont: 1.8rem;
}