@import url(/housing_site/othercss/color.css);

.title h3{
    font-size: var(--menufont);
}
.title h3 i{
    margin-right: 5px;
}

.text h1{
    color: #fff;
    font-size: var(--mainfont);
    line-height: 1.2em;
    letter-spacing: 0.02em;
}

.log p{
    text-transform: capitalize;
    font-size: 17px;
}

.log span i{
    color: #fff;
    font-size: 14px;
}

.log span i:nth-child(2){
    font-size: 10px;
    transition: ease .5s;
}
.textlink{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--thirdColor);
    font-size: var(--linkfont);
    cursor: pointer;
    transition: color .4s;
}
.textlink:hover,
.menu:hover .inside{
    color: var(--sixthColor);
}
.fa-sort-down{
    font-size: 12px;
    margin-left: 8px;
}
.emphasis{
    color: var(--sixthColor);
}

.mainmenu h4{
    font-size: var(--normalsize);
    text-transform: capitalize;
}
.call p{
    line-height: 24px;
    text-transform: capitalize;
    font-size: var(--sparefont);
}
/* home page =======================> */

.hometitle h1{
    font-size: var(--headersfont);
    text-transform: capitalize;
    margin-top: 2%;
    width: 80%;
}
.hometitle p{
    width: 60%;
    font-size: var(--textsize);
    padding-block: 2%;
    line-height: 1.5em;
}
.ht h5{
    font-size: var(--minifont);
    text-transform: uppercase;
    color: orange;
    font-weight: 400;
}

.ht span,
.wt span{
    width: 10px;
    height: 10px;
    /* border: 1px solid; */
    background: rgb(215, 143, 8);
    border-radius: 50%;
}

.rText h3{
    font-size: var(--headersfont);
}
.rText p{
    width: 100%;
    font-size: var(--sparefont);
    text-transform: capitalize;
}

.itemdetails{
    color: #fff;
}
.itemdetails p{
    font-size: 14px;
    width: 100%;
    line-height: 1.4em;
    font-weight: 100;
    letter-spacing: 0.04em;
}

.itemdetails h4{
    font-size: 14px;
    text-transform: capitalize;
    line-height: 24px;
}

.btn button{
    text-transform: capitalize;
    font-size: var(--buttonfont);
    font-weight: 500;
}

.btn button i{
    margin-left: 10px;
    background: orange;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    transition: color .5s backgroundcolor .5s;
    transition-delay: .2s;
}
.btn button:hover i{
    color: orange;
    background-color: #fff;
}
.imgreview p{
    width: 80%;
    font-size: var(--infosize);
}
.imgreview h3{
    margin-top: 3%;
    font-size: var(--author);
}

.wtitle h1{
    font-size: var(--headersfont);
    font-weight: 500;
}

.vp button{
    font-weight: 600;
}

.year p{
    text-transform: capitalize;
}
.year p:last-child{
    font-size: var(--author);
    font-weight: 500;
}

.residence h4{
    text-transform: capitalize;
    font-size: var(--infosize);
    font-weight: 500;
    line-height: 2em;
}
.residence p{
    width: 100%;
    font-size: var(--reds);
}

.design h1{
    text-transform: capitalize;
    font-weight: 500;
    font-size: var(--infosize);
}

.showinfo p{
    line-height: 24px;
    text-transform: capitalize;
    font-size: var(--sparefont);
    /* outline: 1px solid green; */
}

.serviceinfo h1{
    font-size: var(--headersfont);
    text-transform: capitalize;
}

.award h1{
    text-transform: capitalize;
    font-size: var(--headersfont);
}


.rs h4{
    width: 35%;
    font-size: var(--awards);
    font-weight: 500;
}


.rwdetails h4{
    padding-bottom: 2%;
    text-transform: capitalize;
    font-size: var(--infosize);
    font-weight: 500;
}
.rwdetails p{
    line-height: 1.4em;
    font-size: var(--trophy);
}

.comment p{
    font-size: var(--comment);
    font-weight: 500;
    line-height: 1.5em;
    padding-top: 5px;
    width: 100%;
    letter-spacing: .05em;
}
.comment i{
    font-size: 80px;
}

.user h4{
    text-transform: capitalize;
    font-size: var(--infosize);
    margin-bottom: 5px;
}

.blogtext p{
    text-transform: capitalize;
}

.intext h1{
    width: 52% !important;
}

.b h4{
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.5em;
}

.b h4 i{
    margin-left: 4px;
}

.ftext h2{
    font-size: 3rem;
}

.farrow{
    font-size: 35px;
    transition: transform .4s, color .4s;
    color: #000;
}

.ftitle h3{
    font-size: var(--menufont);
    font-weight: 500;
}

.ftitle h3 i{
    margin-right: 5px;
}

.ftitle h5{
    font-size: 16px;
    width: 70%;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5em;
}

.fmenu h6{
    font-size: 19px;
}

.fmenu ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: color .5s;
}

.fmenu ul li a:hover{
    color: var(--sixthColor);
}

.ffoot h6{
    font-size: 12px;
    font-weight: 500;
}
.icons i{
    font-size: 30px;
}
@media only screen and (max-width: 1024px) {
    .title h3{
    }
    .title h3 i{
    }

    .text h1{
    }

    .log p{
    }

    .log span i{
    }

    .log span i:nth-child(2){
    }
    .textlink{
        font-size: var(--linkfont);
    }
    .fa-sort-down{
        font-size: 12px;
        margin-left: 8px;
    }

    .mainmenu h4{
        font-size: var(--normalsize);
    }
    .call p{
        font-size: var(--sparefont);
    }
    /* home page =======================> */

    .hometitle h1{
        font-size: var(--headersfont);
    }
    .hometitle p{
    }
    .ht h5{
        font-size: var(--minifont);
    }

    .rText h3{
        font-size: var(--headersfont);
    }
    .rText p{
    }

    .itemdetails{
    }
    .itemdetails p{
        font-size: 14px;
    }

    .itemdetails h4{
        font-size: 14px;
    }

    .btn button{
        font-size: var(--buttonfont);
    }

    .imgreview p{
        font-size: var(--infosize);
    }
    .imgreview h3{
        font-size: var(--author);
    }

    .wtitle h1{
        font-size: var(--headersfont);
    }

    .year p:last-child{
        font-size: var(--author);
    }

    .residence h4{
        font-size: var(--infosize);
    }
    .residence p{
        font-size: var(--reds);
    }

    .design h1{
        font-size: var(--infosize);
    }

    .showinfo p{
        font-size: var(--sparefont);
    }

    .serviceinfo h1{
    }

    .award h1{
        font-size: var(--headersfont);
    }

    .rs h4{
        font-size: var(--awards);
    }

    .rwdetails h4{
    }

    .rwdetails p{
        font-size: var(--trophy);
    }

    .comment p{
        font-size: var(--comment);

    }
    .comment i{
        font-size: 80px;
    }

    .user h4{
        text-transform: capitalize;
        font-size: var(--infosize);
        margin-bottom: 5px;
    }

    .blogtext p{
        text-transform: capitalize;
    }

    .intext h1{
        width: 52% !important;
    }

    .b h4{
        text-transform: capitalize;
        font-weight: 500;
        line-height: 1.5em;
    }

    .b h4 i{
        margin-left: 4px;
    }

    .ftext h2{
        font-size: 3rem;
    }

    .farrow{
        font-size: 35px;
        transition: transform .4s, color .4s;
        color: #000;
    }

    .ftitle h3{
        font-size: var(--menufont);
        font-weight: 500;
    }

    .ftitle h3 i{
        margin-right: 5px;
    }

    .ftitle h5{
    }

    .fmenu h6{
    }

    .fmenu ul li a{
    }

    .fmenu ul li a:hover{
    }

    .ffoot h6{
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 425px) {
    
}

@media only screen and (max-width: 375px) {
    
}