@media only screen and (min-width: 1530px) {
    .container,
    .content,
    #homepage,
    #server,
    #ved,
    .give,
    .low,
    .archieved,
    .fbig,
    .bbig{
        width: 50% !important;
        margin-inline: auto;
    }
    .container{
        padding: 2% 3% !important;
    }
    .srgallary,
    .imageslider{
        height: 40vh !important;
    }
    .wtitle h1{
        width: 60% !important;
    }
    .fineP{
        height: 50vh !important;
    }
    .gallary img{
        height: 480px !important;
        width: 380px !important;
    }
    .rwdetails p{
        width: 100% !important;
    }
    .intext h1{
        width: 70% !important;
    }
}



@media only screen and (max-width: 1024px) {
    .container > .call{
        display: none;
    }
    .nav{
        position: absolute !important;
        top: -1000000px !important;
        z-index: 9999;
        background: #fff;
        width: 100%;
        left: 0;
        padding-left: 3%;
        transition: transform .5s;
    }
    .tune{
        display: block !important;
    }
    nav ul{
        display: flex !important;
        flex-direction: column;
    }
    nav ul li{
        margin-block: .8rem;
    }
    .submenu{
        margin: auto;
        justify-content: unset !important;
    }
    .submenu h4:nth-child(1){
        margin-left: 18px !important;
    }
    .submenu h4:nth-child(2){
        margin-left: 190px !important;
    }
    .pages{
        left: -50px !important;
        width: 1030px !important;
        padding: 10px 50px !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }
    .options{
        margin-right: 10px !important;
        justify-content: unset !important;
    }
    .options ul li{
        margin-top: 5px !important;
    }
    .icons{
        display: block !important;
    }
    .log{
        width: 200px !important;
    }
    .bf{
        width: 380px!important;
    }
    .homecontent{
        flex-flow: column wrap;
    }
    .hometitle{
        margin-bottom: 20px !important;
        width: 100% !important;
    }
    .homeimg{
        width: 100% !important;
        height: 600px !important;
    }
    .work{
        text-align: left !important;
    }
    .wt{
        place-content: initial !important;
    }
    .wtitle h1{
        width: 100% !important;
    }
    .imageslider{
        height: 50vh !important;
        /* align-items: flex-start !important; */
    }
    .imgslide{
        width: 60% !important;
    }
    .abtproject{
        height: 100% !important;
    }
    .serviceinfo{
        flex-direction: column !important;
    }
    .sr{
        align-self: flex-start !important;
    }
    .srgallary{
        flex-direction: column !important;
    }
    .gallary{
        width: 100% !important;
    }
    .gallary img{
        width: 100% !important;
        height: 600px !important;
    }
    .gallaryinfo{
        width: 100% !important;
    }
    .testimonial{
        width: 100% !important;
        /* height: 80vh !important; */
        gap: 5% !important;
    }
    .commentImg{
        width: 100% !important;
    }
    .fineP{
        /* overflow: hidden !important; */
    }
    .projects{
        grid-template: 200px 150px 200px / repeat(3, 1fr) !important;
    }
    .intext{
        width: 100% !important;
    }
    .blogImg{
        height: 240px !important;
    }
    .fbody{
        flex-direction: column;
        row-gap: 50px;
    }
    .fmenu{
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .forwallpaper{
        height: calc(80vh + 103px) !important;
    }
    .text{
        top: 35% !important;
    }
    .partners{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .records{
        flex-direction: column;
    }
    .imageslider{
        flex-direction: column;
        height: fit-content !important;
    }
    .imgslide{
        width: 100% !important;
    }
    .abtproject,
    .rwdetails{
        width: 100% !important;
    }
    .viewer{
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }
    #ved{
        margin-top: 30px !important;
    }
    .award{
        margin-bottom: 20px !important;
    }
    .rs{
        flex-direction: column;
    }
    .rwimg{
        width: 160px !important;
    }
    .testimonial{
        flex-direction: column;
    }
    .leftside{
        margin-top: 50px !important;
    }
    .rightside{
        order: -1;
    }
    .commentImg{
        width: 100% !important;
    }
    .projects{
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: repeat(3, 200px) !important;
    }
    .first{
        grid-row: 1 !important;
    }
    .second{
        grid-row: 1;
    }
    .third{
        grid-row: 2;
    }
    .fourth{
        grid-row: 2 !important;
    }
    .fiveth{
        grid-row: 3 !important;
    }
    .sixth{
        grid-row: 3;
    }
    .fheader{
        align-items: center !important;
    }
    .arrow{
        width: 80px !important;
        height: 80px !important;
    }
    .fmenu{
        gap: 40px !important;
    }
    .homeimg,
    .gallary img{
        height: 400px !important;
    }
    .bf{
        /* width: 300px !important; */
        flex-direction: column !important;
        width: 340px !important;
    }
    .dots{
        flex-direction: row !important;
        width: 50px !important;
    }
    .fheader{
        margin-bottom: 20px !important;
    }
}

@media only screen and (max-width: 475px) {
    .arrow{
        width: 80px !important;
        height: 80px !important;
    }
    .projects{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 200px) auto !important;
    }
    .first{
        grid-row: 1 !important;
    }
    .second{
        grid-row: 2;
    }
    .third{
        grid-row: 3;
    }
    .fourth{
        grid-row: 4 !important;
    }
    .fiveth{
        grid-row: 5 !important;
    }
    .sixth{
        grid-row: 6;
    }
    .hide{
        display: none;
    }
    .fineP{
        height: fit-content !important;
    }
    .showmore{
        display: block !important;
        text-align: center;
        width: 100%;
        box-shadow: 0 10px 20px;
        position: relative;
        padding-block: 5px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .moreGrid{
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, 200px) auto !important;
        height: 100%;
    }
}

@media only screen and (max-width: 321px) {
    .bf{
        width: 100% !important;
        right: 0 !important;
    }
    .arrow{
        width: 60px !important;
        height: 60px !important;
    }
}